1-DataGen/Data/
3-NNIdentificaHahn/G_8.73e-7_TE_1_AE/Losses/
3-NNIdentificaHahn/G_8.73e-7_TE_1_AE/Params/
3-NNIdentificaHahn/G_8.73e-7_TE_1_AE/Predictions/
6-SimpleNN/Losses/
6-SimpleNN/Parameters/
4-PANODE/Losses/01_losses.csv
4-PANODE/Losses/02_losses.csv
4-PANODE/Losses/03_losses.csv
4-PANODE/Losses/05_losses.csv
4-PANODE/Losses/07_losses.csv
4-PANODE/Losses/09_losses.csv
4-PANODE/Losses/011_losses.csv
4-PANODE/Losses/013_losses.csv
4-PANODE/Losses/015_losses.csv
4-PANODE/Losses/017_losses.csv
4-PANODE/Losses/018_losses.csv
4-PANODE/Losses/019_losses.csv
4-PANODE/Losses/020_losses.csv
4-PANODE/Losses/021_losses.csv
4-PANODE/Losses/022_losses.csv
4-PANODE/Losses/023_losses.csv
4-PANODE/Losses/025_losses.csv
4-PANODE/Losses/026_losses.csv
4-PANODE/Losses/027_losses.csv
4-PANODE/Losses/028_losses.csv
4-PANODE/Losses/029_losses.csv
4-PANODE/Losses/031_losses.csv
4-PANODE/Losses/032_losses.csv
4-PANODE/Losses/033_losses.csv
4-PANODE/Losses/034_losses.csv
4-PANODE/Losses/035_losses.csv
4-PANODE/Parameters/01_Parameters.csv
4-PANODE/Parameters/02_Parameters.csv
4-PANODE/Parameters/03_Parameters.csv
4-PANODE/Parameters/05_Parameters.csv
4-PANODE/Parameters/07_Parameters.csv
4-PANODE/Parameters/09_Parameters.csv
4-PANODE/Parameters/011_Parameters.csv
4-PANODE/Parameters/013_Parameters.csv
4-PANODE/Parameters/015_Parameters.csv
4-PANODE/Parameters/017_Parameters.csv
4-PANODE/Parameters/018_Parameters.csv
4-PANODE/Parameters/019_Parameters.csv
4-PANODE/Parameters/020_Parameters.csv
4-PANODE/Parameters/021_Parameters.csv
4-PANODE/Parameters/022_Parameters.csv
4-PANODE/Parameters/023_Parameters.csv
4-PANODE/Parameters/025_Parameters.csv
4-PANODE/Parameters/026_Parameters.csv
4-PANODE/Parameters/027_Parameters.csv
4-PANODE/Parameters/028_Parameters.csv
4-PANODE/Parameters/029_Parameters.csv
4-PANODE/Parameters/031_Parameters.csv
4-PANODE/Parameters/032_Parameters.csv
4-PANODE/Parameters/033_Parameters.csv
4-PANODE/Parameters/034_Parameters.csv
4-PANODE/Parameters/035_Parameters.csv
4-PANODE/Results/01_\[9, 32, 64, 2]_relu_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/02_\[9, 64, 128, 2]_swish_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/03_\[9, 32, 32, 16, 2]_relu_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/05_\[9, 16, 32, 64, 16, 2]_relu_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/07_\[12, 32, 64, 2]_relu_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/09_\[12, 32, 32, 16, 2]_relu_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/011_\[12, 16, 32, 64, 16, 2]_relu_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/013_\[14, 32, 64, 2]_relu_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/015_\[14, 32, 32, 16, 2]_relu_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/017_\[14, 16, 32, 64, 16, 2]_relu_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/018_\[14, 32, 64, 32, 16, 2]_swish_AdamW_10_0.0_0.01_0.0.csv
4-PANODE/Results/019_\[9, 32, 64, 2]_relu_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/020_\[9, 64, 128, 2]_swish_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/021_\[9, 32, 32, 16, 2]_relu_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/022_\[9, 128, 64, 16, 2]_swish_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/023_\[9, 16, 32, 64, 16, 2]_relu_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/025_\[12, 32, 64, 2]_relu_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/026_\[12, 64, 128, 2]_swish_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/027_\[12, 32, 32, 16, 2]_relu_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/028_\[12, 128, 64, 16, 2]_swish_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/029_\[12, 16, 32, 64, 16, 2]_relu_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/031_\[14, 32, 64, 2]_relu_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/032_\[14, 64, 128, 2]_swish_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/033_\[14, 32, 32, 16, 2]_relu_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/034_\[14, 128, 64, 16, 2]_swish_AdamW_15_0.0_0.01_0.0.csv
4-PANODE/Results/035_\[14, 16, 32, 64, 16, 2]_relu_AdamW_15_0.0_0.01_0.0.csv
5-End2EndModel/Hahn/EntrenamientoContinuoFrostAutoencoder.jl
.gitignore
6-SimpleNN/Arquitectura60/060_losses.csv
6-SimpleNN/Arquitectura60/060_parameters_epoch_5000.csv
6-SimpleNN/Arquitectura60/060_parameters_epoch_Final.csv
6-SimpleNN/Results/01_results.csv
6-SimpleNN/Results/02_results.csv
6-SimpleNN/Results/03_results.csv
6-SimpleNN/Results/04_results.csv
6-SimpleNN/Results/06_results.csv
6-SimpleNN/Results/05_results.csv
6-SimpleNN/Results/07_results.csv
6-SimpleNN/Results/08_results.csv
6-SimpleNN/Results/09_results.csv
6-SimpleNN/Results/010_results.csv
6-SimpleNN/Results/011_results.csv
6-SimpleNN/Results/012_results.csv
6-SimpleNN/Results/013_results.csv
6-SimpleNN/Results/014_results.csv
6-SimpleNN/Results/015_results.csv
6-SimpleNN/Results/016_results.csv
6-SimpleNN/Results/017_results.csv
6-SimpleNN/Results/018_results.csv
6-SimpleNN/Results/019_results.csv
6-SimpleNN/Results/020_results.csv
6-SimpleNN/Results/021_results.csv
6-SimpleNN/Results/022_results.csv
6-SimpleNN/Results/023_results.csv
6-SimpleNN/Results/024_results.csv
6-SimpleNN/Results/025_results.csv
6-SimpleNN/Results/026_results.csv
6-SimpleNN/Results/027_results.csv
6-SimpleNN/Results/028_results.csv
6-SimpleNN/Results/029_results.csv
6-SimpleNN/Results/030_results.csv
6-SimpleNN/Results/031_results.csv
6-SimpleNN/Results/032_results.csv
6-SimpleNN/Results/033_results.csv
6-SimpleNN/Results/034_results.csv
6-SimpleNN/Results/035_results.csv
6-SimpleNN/Results/036_results.csv
6-SimpleNN/Results/037_results.csv
6-SimpleNN/Results/038_results.csv
6-SimpleNN/Results/039_results.csv
6-SimpleNN/Results/040_results.csv
6-SimpleNN/Results/041_results.csv
6-SimpleNN/Results/042_results.csv
6-SimpleNN/Results/043_results.csv
6-SimpleNN/Results/044_results.csv
6-SimpleNN/Results/045_results.csv
6-SimpleNN/Results/046_results.csv
6-SimpleNN/Results/047_results.csv
6-SimpleNN/Results/048_results.csv
6-SimpleNN/Results/049_results.csv
6-SimpleNN/Results/050_results.csv
6-SimpleNN/Results/051_results.csv
6-SimpleNN/Results/052_results.csv
6-SimpleNN/Results/053_results.csv
6-SimpleNN/Results/054_results.csv
6-SimpleNN/Results/055_results.csv
6-SimpleNN/Results/056_results.csv
6-SimpleNN/Results/057_results.csv
6-SimpleNN/Results/058_results.csv
6-SimpleNN/Results/059_results.csv
6-SimpleNN/Results/060_results.csv
6-SimpleNN/Results/061_results.csv
6-SimpleNN/Results/062_results.csv
6-SimpleNN/Results/063_results.csv
6-SimpleNN/Results/064_results.csv
6-SimpleNN/Results/065_results.csv
6-SimpleNN/Results/066_results.csv
6-SimpleNN/Results/067_results.csv
6-SimpleNN/Results/068_results.csv
6-SimpleNN/Results/069_results.csv
6-SimpleNN/Results/070_results.csv
6-SimpleNN/Results/071_results.csv
6-SimpleNN/Results/072_results.csv
